@model OnlineShop.Domain.DTOs.SiteSide.Account.UserRegisterDTO


<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <title>ثبت نام در دیجی استور</title>
    <!--    font-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/materialdesignicons.css">
    <link rel="stylesheet" href="assets/css/materialdesignicons.css.map">
    <!--    font-->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="main">
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <a href="index.html" class="logo-account"><img src="/SiteSide/assets/images/logo-login.png" alt="logo"></a>
                <span class="account-head-line">ثبت نام در دیجی‌استور</span>
                <div class="content-account">
                    <div class="massege-light">ثبت نام تنها با شماره تلفن همراه امکان پذیر است.</div>
                    <form id="register" asp-controller="Account" asp-action="Register">
                        
                        <label for="email-phone">شماره موبایل خود را وارد کنید</label>
                        <input type="text" id="email-phone" class="input-email-account" placeholder="" asp-for="Mobile">

                        <label for="email-phone">نام خود را وارد کنید</label>
                        <input type="text" id="email-phone" class="input-email-account" placeholder="" asp-for="FullName">
                        
                        <label for="password">رمز عبور</label>
                        <input type="password" id="password" class="input-password" placeholder="" asp-for="Password">
                       
                        <label for="password">تکرار رمز عبور</label>
                        <input type="password" id="password" class="input-password" placeholder="" asp-for="Repassword">

                        <div class="parent-btn">
                            <button class="dk-btn dk-btn-info" type="submit">
                                ثبت نام به دیجی استور
                                <i class="mdi mdi-account-plus-outline sign-in"></i>
                            </button>
                        </div>
                        <div class="form-auth-row">
                            <label for="remember" class="ui-checkbox">
                                <input type="checkbox" value="1" name="login" checked="" id="remember">
                                <span class="ui-checkbox-check"></span>
                            </label>
                            <label for="remember" class="remember-me">
                                <a href="#">حریم خصوصی</a> و <a href="#">
                                    شرایط
                                    قوانین
                                </a>استفاده از سرویس های سایت دیجی‌استور را مطالعه نموده و با کلیه موارد آن
                                موافقم.
                            </label>
                        </div>
                    </form>
                </div>

                <div class="account-footer">
                    <span>قبلا در دیجی‌استور ثبت‌نام کرده‌اید؟</span>
                    <a href="login.html" class="btn-link-register">وارد شویــد</a>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>