
    <!--    about------------------------->
    <div class="about-us">
        <div class="col-12">
            <div class="about-us-head">
                <div class="about-us-head-content">
                    <div class="about-us-head-title-logo">
                        <span>دیجی استور</span>
                    </div>
                    <h1 class="about-us-head-title">اولین مقصد خرید آنلاین در ایران</h1>
                    <p class="about-us-head-text">
                        می‌خواستیم یک بازار مدرن بر پایه تکنولوژی بسازیم که اولین مرجع آنلاین و مورداعتماد «شما» باشد.
                    </p>
                </div>
            </div>
            <div class="about-us-content">
                <div class="about-us-description-section">
                    <h2 class="about-us-description-title">حرفی برای گفتن در تجارت الکترونیک</h2>
                    <p class="about-us-description-text">
                        در سال ۱۳۸۵ با سرمایه اندکی شروع کردیم و حالا این عددها، سهم بزرگ ما از بازار تجارت الکترونیک را
                        نشان می‌دهد.
                    </p>
                    <div class="about-us-desc-cards-container">
                        <div class="about-us-desc-card">
                            <p class="about-us-desc-card-number">۱۵۰،۰۰۰+</p>
                            <p class="about-us-desc-card-text">کسب‌و‌کار و فروشنده</p>
                            <a href="#" class="about-us-desc-card-link">
                                فروشنده شوید
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </div>
                        <div class="about-us-desc-card">
                            <p class="about-us-desc-card-number">۱۵۰،۰۰۰+</p>
                            <p class="about-us-desc-card-text">کسب‌و‌کار و فروشنده</p>
                            <a href="#" class="about-us-desc-card-link">
                                فروشنده شوید
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </div>
                        <div class="about-us-desc-card">
                            <p class="about-us-desc-card-number">۱۵۰،۰۰۰+</p>
                            <p class="about-us-desc-card-text">کسب‌و‌کار و فروشنده</p>
                            <a href="#" class="about-us-desc-card-link">
                                فروشنده شوید
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content-about">
                <div class="page-content-about-paragraph">
                    <p>
                        دیجی‌کالا مرجع تخصصی نقد و بررسی و فروش اینترنتی کالا در ایران است. گروه‏‏‌های مختلف کالا مانند
                        کالای دیجیتال، لوازم خانگی، لوازم شخصی، فرهنگ و هنر و ورزش و سرگرمی با تنوعی بی‌نظیر در
                        دیجی‌کالا عرضه می‏‏‏‌شوند. دیجی‌کالا با در اختیار داشتن سهم عمده‏‌ای از بازار عرضه اینترنتی کالا
                        در ایران با تنوعی بسیار بالا از برندهای مختلف، در همراهی مشتریان در فرآیند خرید و حفظ جایگاه
                        بی‏‏‏‌طرفانه در میان آنها، نهایت تلاش خود را می‌‏‏کند. کاربران و مشتریان دیجی‌کالا می‏‏‌توانند
                        با حق انتخابی بسیار بالا و با دریافت اطلاعاتی کامل برای انتخاب درست کالای مورد نظر خود، وب سایت
                        دیجی‌کالا را بررسی کنند و با حداکثر اطمینان کالای خود را انتخاب و خرید کنند. همواره بهترین
                        انتخاب و بهترین خدمات، شایسته مشتری دیجی‌کالاست.
                    </p>
                </div>
                <div class="page-content-about-paragraph">
                    <p>
                        دیجی‌کالا مرجع تخصصی نقد و بررسی و فروش اینترنتی کالا در ایران است. گروه‏‏‌های مختلف کالا مانند
                        کالای دیجیتال، لوازم خانگی، لوازم شخصی، فرهنگ و هنر و ورزش و سرگرمی با تنوعی بی‌نظیر در
                        دیجی‌کالا عرضه می‏‏‏‌شوند. دیجی‌کالا با در اختیار داشتن سهم عمده‏‌ای از بازار عرضه اینترنتی کالا
                        در ایران با تنوعی بسیار بالا از برندهای مختلف، در همراهی مشتریان در فرآیند خرید و حفظ جایگاه
                        بی‏‏‏‌طرفانه در میان آنها، نهایت تلاش خود را می‌‏‏کند. کاربران و مشتریان دیجی‌کالا می‏‏‌توانند
                        با حق انتخابی بسیار بالا و با دریافت اطلاعاتی کامل برای انتخاب درست کالای مورد نظر خود، وب سایت
                        دیجی‌کالا را بررسی کنند و با حداکثر اطمینان کالای خود را انتخاب و خرید کنند. همواره بهترین
                        انتخاب و بهترین خدمات، شایسته مشتری دیجی‌کالاست.
                    </p>
                </div>
                <div class="page-content-about-full-image">
                    <img src="/SiteSide/assets/images/page-about/page-about.jpg">
                </div>
                <div class="page-content-about-paragraph">
                    <p>
                        همواره یکی از اولویت‌های دیجی‌کالا، تولید و ارائه محتوای فنی مورد نیاز کاربران با بالاترین
                        استانداردها، برای تسهیل در فرایند پیش از خرید آنهاست. برای دیجی‌کالا بسیار مهم است که میلیون‏‌ها
                        کاربر آن، کالای تخصصی مورد نیاز خود را به درستی و با دقت بالا و بیشترین سهولت انتخاب کنند. دیجی‌کالا
                        از هرگونه تلاشی برای بالاتر بردن کیفیت خرید مشتریان خود دریغ نمی‏‌کند و همواره تلاش می‏‌کند تا در
                        طول فرآیند خرید یعنی پیش، حین و پس از خرید، بیشترین ارزش را برای کاربران و مشتریان خود خلق کند.
                        <br>
                        دیجی‌کالا در سال 1390 با راه اندازی "رسانه تصویری دیجی‌کالا" یا DigiKala TV برای اولین بار در کشور
                        تولید و ارائه محتوای ویدئویی آموزشی و تخصصی در زمینه معرفی و نقد و بررسی جدیدترین کالاهای دیجیتال و
                        فن‏‌آوری‏ های این حوزه را آغاز کرد. هدف از تولید این ویدئوها ایجاد امکانی برای کاربران جهت بررسی
                        دقیق‌تر تمامی ابعاد و مشخصات محصول و شکل‌گیری تصویری دقیق‏‏‌تر از کالاها و تکنولوژی‏ های این حوزه
                        بود. در حال حاضر این بخش یکی از محبوب‏‌ترین خدمات دیجی‌کالا است، از این رو تولید محتوای تخصصی با
                        کیفیت و استانداردهایی فراتر از گذشته یکی از راهبردهای اصلی دیجی‌کالا محسوب می‏‌شود. رسانه تصویری
                        دیجی‌کالا در جهت تولید محتوای ویدئویی علمی و کاربردی با بکارگیری افراد متخصص این حوزه نهایت تلاش خود
                        را می‏‏‌کند. این ویدئوها به صورت کاملا مستقل و در استودیوی اختصاصی دیجی‌کالا تولید می‏‌شوند و این
                        سرویس به رایگان ارائه می‏‌شود.
                        <br>
                        <br>
                        دیجی‌کالا با ارائه طیف گسترده‏‌ای از معتبرترین برندها در گروه‌‏های مختلف و با همکاری نزدیک با
                        وارد‏کنندگان و توزیع‏ کنندگان اصلی این کالاها در ایران، تلاش می‏‌کند تا نیازهای متفاوت مشتریان با
                        کاربری‏‌های متفاوت آنان را برآورده سازد. ارائه قیمت‏‌های کاملا رقابتی و مناسب، همراه با کیفیت مطلوب
                        خدمات پس از فروش از اولویت‏‌های دیجی‌کالا محسوب می‌شود. دیجی‌کالا با درک اهمیت این موضوع برای
                        مشتریان خود و با بکارگیری نهایت توان و ابزارهای در دسترس در تعاملات خود با تامین‏ کنندگان، می‏‏‌کوشد
                        امکان ارائه پایین‏‏‌ترین قیمت‏‏‌ها و بهترین خدمات را فراهم آورد. طرح‏‏‌های مشوق خرید همواره مورد
                        توجه مشتریان بوده و دیجی‌کالا نیز به منظور قدردانی از مشتریان وفادار خود همواره تخفیف‏‌های قابل
                        توجهی را در قالب طرح‌های مختلف مشوق خرید برای آنان در نظر می‏‏‌گیرد. کیفیت و سهولت استفاده از وب‏
                        سایت دیجی‌کالا و خدمات ارائه شده در آن، همواره یکی از مهم‏‌ترین و با اولویت‌ترین موضوعات در
                        دیجی‌کالا بوده است و همه کارکنان فنی و تخصصی آن نهایت تلاش خود را به عمل می‌آورند تا با ارائه
                        با‏کیفیت‏‌ترین و به‏‌روز‏ترین سرویس‏‌های مبتنی بر وب و تسهیل تمامی فرآیندهای بررسی، انتخاب و خرید
                        کالا در وب سایت دیجی‌کالا، خدماتی شایسته و تجربه‌ای خوشایند را برای مخاطبان خود به ارمغان بیاورند.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--    about------------------------->