    <!--  cart------------------>
<div class="col-12">
    <div class="cart-page">
        <div class="container">
            <div class="checkout-empty">
                <div class="checkout-empty-empty-cart-icon"></div>
                <div class="checkout-empty-title">سبد خرید شما خالی است!</div>
                <div class="col-lg-6 col-md-6!important col-xs-12 mx-auto">
                    <div class="checkout-empty-links">

                        <p>
                            می‌توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید
                        </p>
                        <div class="checkout-empty-link-urls">
                            <a href="#">
                                تخفیف‌ها و پیشنهادها
                            </a>
                            <a href="#">
                                محصولات پرفروش روز
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-empty-inner-box">
        <a href="#" class="checkout-empty-badge">
            <img src="/SiteSide/assets/images/footer-svg/delivery.svg" alt="badge">
            <span class="item-feature">تحویل اکسپرس</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="/SiteSide/assets/images/footer-svg/contact-us.svg" alt="badge">
            <span class="item-feature">پشتیبانی 24 ساعته</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="/SiteSide/assets/images/footer-svg/payment-terms.svg" alt="badge">
            <span class="item-feature">پرداخت در منزل</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="/SiteSide/assets/images/footer-svg/return-policy.svg" alt="badge">
            <span class="item-feature">7 روز ضمانت برگشت</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="/SiteSide/assets/images/footer-svg/origin-guarantee.svg" alt="badge">
            <span class="item-feature">ضمانت اصل بودن کالا</span>
        </a>
    </div>
</div>
<!--   adplacement -------------------->
<div class="adplacement">
    <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
        <a href="#" class="item-adplacement">
            <img src="/SiteSide/assets/images/post-adplacement/1000012860.jpg" title="صوتی و تصویری" alt="adplacement">
        </a>
    </div>

    <div class="col-6 col-lg-3 pull-right">
        <a href="#" class="item-adplacement">
            <img src="/SiteSide/assets/images/post-adplacement/1000012872.jpg" title="شوینده ظروف" alt="adplacement">
        </a>
    </div>

    <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
        <a href="#" class="item-adplacement">
            <img src="/SiteSide/assets/images/post-adplacement/1000013192.jpg" title="افس" alt="adplacement">
        </a>
    </div>

    <div class="col-6 col-lg-3 pull-right">
        <a href="#" class="item-adplacement">
            <img src="/SiteSide/assets/images/post-adplacement/1000012909.jpg" title="مراقبت پوست و مو" alt="adplacement">
        </a>
    </div>
</div>
<!--   adplacement -------------------->
<div class="col-lg-12 col-md-12 col-xs-12 pull-right">
    <div class="row">
        <div class="col-12">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">گوشی موبایل</span>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111460776.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111474228.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/112145268.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A70 SM-A705FN/DS دو...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111475300.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A30 SM-A305F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/113542184.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل اپل مدل iPhone 11 Pro Max A2218 دو سیم...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111469793.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A20 SM-A205F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111472656.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 pull-right">
    <div class="row">
        <div class="col-12">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">گوشی موبایل</span>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111460776.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111474228.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/112145268.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A70 SM-A705FN/DS دو...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111475300.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A30 SM-A305F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/113542184.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل اپل مدل iPhone 11 Pro Max A2218 دو سیم...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111469793.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A20 SM-A205F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111472656.jpg" class="img-fluid"
                                             alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  cart------------------>