    <!--  faq------------------------->
<div class="info-page-cover">
    <div class="col-lg-12 col-md-12 col-xs-12 mx-auto">
        <div class="info-page-cover-title">پاسخ پرسش‌های پرتکرار</div>
        <form action="#" class="info-page-search">
            <input type="text" class="info-page-input-search" placeholder="پرسش خود را جستجو کنید">
            <button class="btn-info-page-search">جستجو</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="info-page-faq">
        <div class="content-info-page">
            <div class="box-rounded_headline">دسته بندی پرسش ها</div>
            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/1.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/1.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/2.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/3.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/4.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/5.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/6.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/7.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/8.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/9.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/10.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/11.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/6.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding:0;">
                <div class="info-page_cat info-page_after-faq">
                    <div class="info-page_cat-icon">
                        <img src="/SiteSide/assets/images/page-faq/8.png" alt="icon">
                    </div>
                    <a href="#">ورود و ثبت نام </a>
                </div>
            </div>
        </div>
    </div>
    <div class="info-page-faq">
        <div class="content-info-page">
            <div class="box-rounded_headline">پرتکرارترین پرسش ها</div>
            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#">
                                شرایط خرید و بازگرداندن کالا برای کالاهای سوپر مارکتی چگونه
                                است؟
                            </a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم امتیاز‌ بگیریم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> میتوانم سفارش خود را در محل پرداخت کنم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور درخواست خود را جهت مرجوعی کالا به شما اطلاع دهم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم سفارشم را لغو کنم ؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چرا سفارشم دو مرسوله شده است؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> در چه شرایطی میتوانم کالای خود را بازگردانم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> روند رسیدگی به درخواست مرجوعی کالا چگونه است؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#">
                                چطور میتوانم بدون برقراری تماس ، درخواست مرجوعی کالای
                                خریداری شده را اعلام کنم؟
                            </a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم سفارشم را پیگیری کنم ؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="question-not-found">
        <div class="question-not-found-title">
            جواب یا پرسش خود را پیدا نکردید؟
            <br>
            روش‌های ارتباط با ما
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="info-page_contact-option info-page_after-faq">
                <i class="mdi mdi-phone"></i>
                <span>تماس تلفنی</span>
                <span>۰۲۱-۶۱۹۳۰۰۰۰</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
            <div class="info-page_contact-option">
                <i class="mdi mdi-message"></i>
                <a href="#" class="faq-send-message">ارسال پیام</a>
            </div>
        </div>
    </div>

</div>
<!--  faq------------------------->