    <!--  faq------------------------->
<div class="info-page-cover">
    <div class="col-lg-12 col-md-12 col-xs-12 mx-auto">
        <div class="info-page-cover-title">پاسخ پرسش‌های پرتکرار</div>
        <form action="#" class="info-page-search">
            <input type="text" class="info-page-input-search" placeholder="پرسش خود را جستجو کنید">
            <button class="btn-info-page-search">جستجو</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="info-page-faq">
        <div class="content-info-page">
            <div class="info-page-box-headline box-rounded_headline info-page-box-headline-question">
                چطور در دیجی
                استور سفارش خود را ثبت کنم ؟
            </div>
            <div class="box-rounded-content">
                <section class="js-expert-article">
                    <div class="content-expert-articles">
                        <video src="https://dkstatics-public.digikala.com/digikala-video/13343.mp4"
                               controls></video>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">1.وارد پروفایل خود شوید.</span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-1.png" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">
                                    2.محصول مورد نظر خود را جستجو
                                    کنید.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-2.png" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">
                                    3. روی " <strong>
                                        <span style="color:#2980b9">افزودن به سبد خرید</span>
                                    </strong>" کلیک
                                    کنید.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-3.png" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-4.png" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">
                                    5. در صورت تمایل می‌توانید
                                    <strong><span style="color:#2980b9"> تعداد </span></strong>مورد نیاز از کالای
                                    انتخابی را تغییر دهید.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">
                                    6. شما میتوانید <strong>
                                        <span style="color:#2980b9">آدرس</span>
                                    </strong> خود را انتخاب یا وارد
                                    کنید.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-5.png" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">
                                    7. برای تکمیل خرید
                                    خود<strong><span style="color:#2980b9">شیوه ارسال</span></strong>و<strong>
                                        <span style="color:#2980b9">بازه زمانی</span>
                                    </strong> سفارش خود را انتخاب
                                    کنید.
                                </span>
                            </p>
                        </div>
                        <div class="content-expert-text">
                            <p>
                                <span style="font-size:18px">
                                    در صورتی که <span style="color:#c0392b">
                                        <u>
                                            نیاز به ارسال
                                            فاکتور
                                        </u>
                                    </span> دارید ، <span style="color:#c0392b">
                                        <u>
                                            تیک ارسال
                                            فاکتور
                                        </u>
                                    </span> را فعال کنید.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-blockquote">
                            <p>در صورتی که کالای شما با پست یا باربری ارسال میشود،امکان انتخاب بازه زمانی نیست.</p>
                            <br>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-6.png" style="width: 100%;" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="c-content-expert__text">
                            <p></p>
                            <p style="text-align:justify">
                                <span style="font-size:18px">
                                    - هزینه ارسال سفارشات
                                    <strong>
                                        <span style="color:#2980b9">
                                            بالای صد و پنجاه&nbsp;هزار
                                            تومان
                                        </span>
                                    </strong> در <strong>
                                        <u>
                                            ارسال
                                            اکسپرس
                                        </u>
                                    </strong>&nbsp;&nbsp;<strong>
                                        <u>تهران&nbsp; &nbsp;</u><span style="color:#2980b9">رایگان&nbsp;&nbsp;</span>
                                    </strong>و&nbsp;<span style="color:#2980b9">
                                        <strong>
                                            زیر صد و پنجاه هزار
                                            تومان
                                        </strong>
                                    </span>&nbsp; <strong>
                                        <span style="color:#e74c3c">
                                            9500
                                            تومان&nbsp;
                                        </span>
                                    </strong> میباشد.<br>
                                    -هزینه ارسال سفارشات <strong>
                                        <span style="color:#2980b9">
                                            زیر صد و پنجاه هزار
                                            تومان
                                        </span>
                                    </strong> در <u>
                                        <strong>
                                            ارسال اکسپرس غیر از
                                            تهران
                                        </strong>
                                    </u><strong>
                                        <span style="color:#c0392b">&nbsp;&nbsp;</span><span style="color:#e74c3c">9500 تومان</span>
                                    </strong> میباشد.<br>
                                    - هزینه ارسال سفارشات از طریق <span>
                                        <u>
                                            <strong>
                                                پست
                                                پیشتاز
                                            </strong>
                                        </u>
                                    </span> با تعرفه مصوب اداره ی &nbsp;پست محاسبه
                                    میشود.<br>
                                    - هزینه ارسال کالاهای سنگین ارسالی با <u>
                                        <span>
                                            <strong>
                                                باربری
                                            </strong>
                                        </span>
                                    </u>&nbsp;براساس وزن و ابعاد کالا محاسبه میشود و مبلغ آن
                                    بصورت <strong><u>پس کرایه درب آدرس</u></strong> دریافت میشود.<br>
                                    - هزینه ارسال سریع <strong>
                                        <u>
                                            <span>
                                                کالاهای
                                                سوپرمارکتی&nbsp;
                                            </span>
                                        </u>&nbsp;&nbsp;<span style="color:#c0392b">9500 تومان</span>
                                    </strong> میباشد.
                                </span>
                            </p>
                            <p style="text-align:justify">
                                <span style="font-size:18px">
                                    - هزینه ارسال
                                    برای<strong>
                                        <u>
                                            <a href="https://www.digikala.com/faq/category/11/">
                                                <span style="color:#2980b9">
                                                    سفارشات چند مرسوله
                                                    ایی
                                                </span>
                                            </a>
                                        </u>
                                    </strong> با توجه به تعداد مرسوله محاسبه
                                    میشود.
                                </span>
                            </p>
                            <p style="text-align:justify">
                                <br>
                                &nbsp;
                            </p>
                            <p></p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">
                                    8.در آخرین مرحله
                                    میتوانید<strong>
                                        <span style="color:#2980b9">
                                            شیوه پرداخت
                                            سفارش
                                        </span>
                                    </strong>و<strong>
                                        <span style="color:#2980b9">
                                            بازه
                                            زمانی
                                        </span>
                                    </strong>خود را انتخاب کنید.
                                </span>
                            </p>
                        </div>
                        <div class="content-expert-blockquote">
                            <p>
                                در حال حاضر 2 شیوه پرداخت در سایت قابل انتخاب است:
                                1- پرداخت آنلاین توسط کارت های شتاب
                                2- پرداخت در محل با کارت بانکی (مختص سفارشات تحویل اکسپرس)
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-7.png" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:right">
                                <span style="font-size:18px">
                                    9. در آخر زمانی که سفارش شما با
                                    موفقیت ثبت شد، سیستم به شما یک کد پیگیری با سه حرف اول <strong>
                                        <span style="color:#2980b9">DKC</span>
                                    </strong> میدهد.
                                </span>
                            </p>
                        </div>
                        <br>
                        <br>
                        <div class="content-expert-blockquote">
                            <p>
                                این کد به همراه روند آماده سازی سفارش از طریق پیامک نیز برای شما ارسال می شود..
                            </p>
                            <br>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-8.png" alt="faq">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content-expert-feedback">
                <div class="content-expert-feedback-state">
                    <p>آیا این پاسخ به شما کمک کرد؟</p>
                    <button class="js-feedback-state-btn">بله</button>
                    <button class="js-feedback-state-btn">خیر</button>
                </div>
            </div>
        </div>
    </div>
    <div class="info-page-faq">
        <div class="content-info-page">
            <div class="box-rounded_headline">پرتکرارترین پرسش ها</div>
            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#">
                                شرایط خرید و بازگرداندن کالا برای کالاهای سوپر مارکتی چگونه
                                است؟
                            </a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم امتیاز‌ بگیریم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> میتوانم سفارش خود را در محل پرداخت کنم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور درخواست خود را جهت مرجوعی کالا به شما اطلاع دهم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم سفارشم را لغو کنم ؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چرا سفارشم دو مرسوله شده است؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> در چه شرایطی میتوانم کالای خود را بازگردانم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> روند رسیدگی به درخواست مرجوعی کالا چگونه است؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#">
                                چطور میتوانم بدون برقراری تماس ، درخواست مرجوعی کالای
                                خریداری شده را اعلام کنم؟
                            </a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم سفارشم را پیگیری کنم ؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="question-not-found">
        <div class="question-not-found-title">
            جواب یا پرسش خود را پیدا نکردید؟
            <br>
            روش‌های ارتباط با ما
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="info-page_contact-option info-page_after-faq">
                <i class="mdi mdi-phone"></i>
                <span>تماس تلفنی</span>
                <span>۰۲۱-۶۱۹۳۰۰۰۰</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
            <div class="info-page_contact-option">
                <i class="mdi mdi-message"></i>
                <a href="#" class="faq-send-message">ارسال پیام</a>
            </div>
        </div>
    </div>

</div>
<!--  faq------------------------->