    <!--  faq------------------------->
<div class="info-page-cover">
    <div class="col-lg-12 col-md-12 col-xs-12 mx-auto">
        <div class="info-page-cover-title">پاسخ پرسش‌های پرتکرار</div>
        <form action="#" class="info-page-search">
            <input type="text" class="info-page-input-search" placeholder="پرسش خود را جستجو کنید">
            <button class="btn-info-page-search">جستجو</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="info-page-faq">
        <div class="content-info-page">
            <div class="info-page-box-headline box-rounded_headline info-page-box-headline-question">
                میتوانم سفارش
                خود را در محل پرداخت کنم؟
            </div>
            <div class="box-rounded-content">
                <section class="js-expert-article">
                    <div class="content-expert-articles">
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <span style="font-size:20px">
                                    <span style="color:#c0392b"><strong>پرداخت در محل</strong></span>
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <span style="font-size:18px">
                                    بله شما میتوانید سفارش خود را
                                    هنگام تحویل کالا پرداخت کنید، در برخی موارد امکان پرداخت سفارش در محل وجود
                                    ندارد.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <div class="content-expert-img">
                                <img src="/SiteSide/assets/images/page-faq/expert-img-9.png" style="max-width: 100%;" alt="faq">
                            </div>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <span style="font-size:20px">
                                    <span style="color:#c0392b"><strong>پرداخت اینترنتی</strong></span>
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    کاربران
                                    دیجی‏‌استور می‌توانند در هنگام ثبت سفارش، از طریق درگاه اینترنتی، هزینه سفارش
                                    خود را به صورت<strong><span style="color:#2980b9"> آنلاین</span></strong> پرداخت
                                    کنند. پرداخت موفق هزینه به منزله ثبت قطعی این پرداخت برای سفارش است و پس از آن
                                    پیامکی مبنی بر ثبت موفق سفارش، برای کاربر ارسال می‌شود و نیازی به اطلاع‌ دادن
                                    پرداخت سفارش نیست و سفارش به صورت خودکار وارد مراحل آماده‌سازی و ارسال
                                    می‏‌شود.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <br><span style="font-size:18px">
                                    لازم به ذکر است که پرداخت
                                    اینترنتی باعث ایجاد الویت و تسریع در پردازش سفارش کاربران می‌شود.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <span style="font-size:18px">
                                    هنگام ثبت سفارش میتوانید
                                    <strong><span style="color:#2980b9">پرداخت اینترنتی </span></strong>را انتخاب
                                    نمایید و بعد از وارد شدن به درگاه ،اطلاعات پرداخت خود را وارد کنید.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <span style="font-size:18px">
                                    برای پرداخت اینترنتی شما نیاز
                                    دارید به ;
                                </span>
                            </p>
                        </div>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <span style="font-size:18px">&nbsp; -&nbsp;</span><span style="font-size:20px">
                                    <strong>
                                        <span style="color:#2980b9">
                                            شماره
                                            کارت&nbsp;&nbsp;
                                        </span>
                                    </strong>
                                </span><span style="font-size:18px"><strong></strong>(شماره 16 رقمی روی عابر بانک )</span>
                            </p>
                        </div>
                        <div class="content-expert-text">
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    &nbsp;
                                    -
                                </span><span style="font-size:20px">
                                    &nbsp;<span style="color:#2980b9"><strong>رمز دوم </strong></span><strong>
                                        <span style="color:#2980b9">کارت&nbsp; &nbsp;</span>
                                    </strong>
                                </span><span style="font-size:18px">
                                    <strong></strong>(برای پرداخت اینترنتی لازم است قبلا رمز
                                    دوم (رمز خرید اینترنتی) کارت بانکی خود را فعال کرده باشید.<br>
                                    برای فعال‌کردن رمز خرید اینترنتی، می‏‌توانید به دستگاه خودپرداز بانک صادرکننده
                                    کارت خود مراجعه، کارت خود را وارد کرده و بخش عملیات رمز را انتخاب کنید. سپس، در
                                    بخش رمز دوم یا رمز اینترنتی، رمز خود را انتخاب کنید.<br>
                                    &nbsp; &nbsp;-
                                </span><span style="font-size:20px">
                                    &nbsp;<strong>
                                        <span style="color:#2980b9">CVV2</span>&nbsp;
                                    </strong>
                                </span><span style="font-size:18px">
                                    <strong></strong>&nbsp;&nbsp; ( یک کد ۳ یا ۴ رقمی است که
                                    پشت یا روی کارت‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌های بانکی
                                    درج می‌شود و به‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌عنوان یک کد
                                    امنیتی در پرداخت‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌های
                                    اینترنتی کاربرد دارد )
                                </span><br>
                                &nbsp;
                            </p>
                        </div>
                        <div class="content-expert-text">
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    &nbsp;
                                    &nbsp;-&nbsp;
                                </span><span style="font-size:20px">
                                    <strong>
                                        <span style="color:#2980b9">
                                            تاریخ انقضاء&nbsp;
                                            &nbsp;&nbsp;
                                        </span>
                                    </strong>
                                </span><span style="font-size:18px">
                                    <strong>(</strong>تاریخ انقضا کارت‌ بانکی روی آن حک شده
                                    است. اگر روی کارت شما تاریخ انقضا وجود ندارد، می‏‌توانید از عدد ۱۲ به جای ماه و
                                    از ۹۹ به جای سال انقضای کارت استفاده کنید.)
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify">
                                <span style="font-size:20px">
                                    <span style="color:#c0392b">
                                        <strong>
                                            اطلاعات و شرایط لازم جهت مرجوعی وجه به
                                            مشتری
                                        </strong>
                                    </span>
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    - مشتری
                                    میبایست شماره کارت بانکی که حساب آن به نام صاحب پروفایل میباشد را در حساب کاربری
                                    دیجی‌استور خود ثبت نماید. (در خصوص افراد زیر 18 سال فاقد کارت بانکی، شماره کارت
                                    یکی از والدین ایشان با اولویت پدر، کفایت میکند.)&nbsp;<br>
                                    - در صورت لزوم عودت وجه به حساب مشتری، اصل بر این است که مبلغ به شماره کارت
                                    اعلام شده توسط مشتری عودت خواهد شد. مشتری با درج شماره کارت در حساب کاربری خود
                                    میپذیرد که نسبت به انجام تراکنش های مالی در خصوص عودت وجه خرید های انجام شده از
                                    دیجی‌استور، رضایت داشته و با معرفی کارت در حساب کاربری مسئولیت های قانونی در این
                                    خصوص را میپذیرد.&nbsp;<br>
                                    - در صورتی که در هر خرید واریز اولیه از کارت دیگری صورت گرفته باشد و مغایرتی بین
                                    حساب مبداء که پرداخت اولیه از آن انجام شده با حساب اعلامی توسط مشتری در حساب
                                    کاربری کشف شود، دیجی‌استور مطابق با ضوابط و مقررات قانونی، مبلغ را به حساب مبدا
                                    عودت خواهد داد.
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="line-height: 45px;">
                                <span style="font-size:16px">
                                    از آنجا که تمامی ماموران
                                    تحویل دیجی‏‌استور دستگاه‏‏‌های کارت‌خوان سیار (POS) همراه دارند، می‌توان هنگام
                                    تحویل سفارش در محل، با استفاده از کارت‌های عضو شبکه شتاب پرداخت خود را انجام
                                    داد.
                                </span>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <br>
            <br>
            <div class="content-expert-feedback">
                <div class="content-expert-feedback-state">
                    <p>آیا این پاسخ به شما کمک کرد؟</p>
                    <button class="js-feedback-state-btn">بله</button>
                    <button class="js-feedback-state-btn">خیر</button>
                </div>
            </div>
        </div>
    </div>
    <div class="info-page-faq">
        <div class="content-info-page">
            <div class="box-rounded_headline">پرتکرارترین پرسش ها</div>
            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#">
                                شرایط خرید و بازگرداندن کالا برای کالاهای سوپر مارکتی چگونه
                                است؟
                            </a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم امتیاز‌ بگیریم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> میتوانم سفارش خود را در محل پرداخت کنم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور درخواست خود را جهت مرجوعی کالا به شما اطلاع دهم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم سفارشم را لغو کنم ؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چرا سفارشم دو مرسوله شده است؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> در چه شرایطی میتوانم کالای خود را بازگردانم؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> روند رسیدگی به درخواست مرجوعی کالا چگونه است؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#">
                                چطور میتوانم بدون برقراری تماس ، درخواست مرجوعی کالای
                                خریداری شده را اعلام کنم؟
                            </a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="toggle-box">
                <div class="toggle-box-active">
                    <ul>
                        <li class="has-sub">
                            <a href="#"> چطور میتوانم سفارشم را پیگیری کنم ؟</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="#">
                                        لطفاً پیش از خرید، موارد زیر را به‌دقت بخوانید؛ زیرا
                                        ثبت هر سفارش در دیجی‌استور به معنی موافقت با شرایط زیر است.
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="info-page-show-more">
                                        مشاهده توضیحات تکمیلی<i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="question-not-found">
        <div class="question-not-found-title">
            جواب یا پرسش خود را پیدا نکردید؟
            <br>
            روش‌های ارتباط با ما
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="info-page_contact-option info-page_after-faq">
                <i class="mdi mdi-phone"></i>
                <span>تماس تلفنی</span>
                <span>۰۲۱-۶۱۹۳۰۰۰۰</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
            <div class="info-page_contact-option">
                <i class="mdi mdi-message"></i>
                <a href="#" class="faq-send-message">ارسال پیام</a>
            </div>
        </div>
    </div>

</div>
<!--  faq------------------------->