    <!--  404-------------------------------->
<div class="page-404">
    <h1 class="title-404">صفحه‌ای که دنبال آن بودید پیدا نشد!</h1>
    @*<a href="index.html" class="action-404">صفحه اصلی</a>*@
    <a asp-controller="home" asp-action="index" class="action-404">صفحه اصلی</a>
    <img src="/SiteSide/assets/images/images-404.png" class="images-404" alt="404">
</div>
<!--  404-------------------------------->