<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <title>یاد آوری کلمه عبور</title>
    <!--    font-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/materialdesignicons.css">
    <link rel="stylesheet" href="assets/css/materialdesignicons.css.map">
    <!--    font-->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="main">
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <a asp-controller="home" asp-action="index" class="logo-account"><img src="/SiteSide/assets/images/logo-login.png" alt="logo"></a>
                <span class="account-head-line">یاد آوری کلمه عبور</span>
                <div class="content-account pb-5">
                    <form action="#" id="password-forget">
                        <label for="email-phone">شماره موبایل یا پست الکترونیک خود را وارد کنید</label>
                        <input type="text" id="email-phone" class="input-email-account" placeholder="">
                        <div class="parent-btn">
                            <button class="dk-btn dk-btn-info">
                                ورود به دیجی استور
                                <i class="mdi mdi-lock sign-in"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/SiteSide/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/SiteSide/assets/js/bootstrap.js"></script>
</body>

</html>