    <!--single-product------------------------->
<div class="col-12">
    <div class="product-page">
        <div class="product-nav-container mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb px-0">
                    <li class="breadcrumb-item"><a href="#">فروشگاه اینترنتی دیجی استور</a></li>
                    <li class="breadcrumb-item"><a href="#">کالای دیجیتال</a></li>
                    <li class="breadcrumb-item active" aria-current="page">موبایل</li>
                </ol>
            </nav>
        </div>
        <div class="o-headline">
            <span>لیست مقایسه گوشی موبایل</span>
        </div>
        <div class="p_comparison">
            <div class="p_comparison-overflow">
                <ul class="compare-list compare-list--header">
                    <li class="is-header">
                        <div class="compare-list-value js-compare-product">
                            <div class="compare-img">
                                <div class="compare-content-holder">
                                    <button class="btn btn-light compare-btn-remove js-remove-compare-product"
                                            type="submit">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                    <a href="#" class="js-compare-product-images">
                                        <img src="/SiteSide/assets/images/comparison/iPhone-12ProMax.jpg"
                                             alt="گوشی موبایل اپل مدل iPhone 12 Pro Max A2412 دو سیم‌ کارت ظرفیت 512 گیگابایت">
                                    </a>
                                    <span class="title">
                                        گوشی موبایل اپل مدل iPhone 12 Pro Max A2412 دو سیم‌ کارت
                                        ظرفیت 256 گیگابایت
                                    </span>
                                    <div class="price">
                                        <div class="price-value">۴۰,۲۰۰,۰۰۰ تومان</div>
                                    </div>
                                    <a class="btn btn-info btn-add-to-cart btn-block" href="#" data-toast=""
                                       data-toast-type="success" data-toast-position="topRight"
                                       data-toast-icon="fe-icon-check-circle" data-toast-title="محصول"
                                       data-toast-message="با موفقیت به سبد خرید اضافه شد!">
                                        افزودن به سبد
                                        خرید
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="is-header">
                        <div class="compare-list-value js-compare-product">
                            <div class="compare-img">
                                <div class="compare-content-holder">
                                    <button class="btn btn-light compare-btn-remove js-remove-compare-product"
                                            type="submit">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                    <a href="#" class="js-compare-product-images">
                                        <img src="/SiteSide/assets/images/comparison/samsung-galaxy-note20ultra.jpg"
                                             alt="گوشی موبایل سامسونگ مدل Galaxy Note20 Ultra SM-N985F/DS دو سیم کارت ظرفیت 256 گیگابایت">
                                    </a>
                                    <span class="title">
                                        گوشی موبایل سامسونگ مدل Galaxy Note20 Ultra SM-N985F/DS
                                        دو سیم کارت ظرفیت 256 گیگابایت
                                    </span>
                                    <div class="price">
                                        <div class="price-value">۳۰,۱۹۹,۰۰۰ تومان</div>
                                    </div>
                                    <a class="btn btn-info btn-add-to-cart btn-block" href="#" data-toast=""
                                       data-toast-type="success" data-toast-position="topRight"
                                       data-toast-icon="fe-icon-check-circle" data-toast-title="محصول"
                                       data-toast-message="با موفقیت به سبد خرید اضافه شد!">
                                        افزودن به سبد
                                        خرید
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="is-header">
                        <div class="compare-list-value js-compare-product">
                            <div class="compare-img">
                                <div class="compare-content-holder">
                                    <button class="btn btn-light compare-btn-remove js-remove-compare-product"
                                            type="submit">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                    <a href="#" class="js-compare-product-images">
                                        <img src="/SiteSide/assets/images/comparison/Mi10-5G-M2001J2G.jpg"
                                             alt="گوشی موبایل شیائومی مدل Mi 10 5G M2001J2G تک سیم‌ کارت ظرفیت 256 گیگابایت">
                                    </a>
                                    <span class="title">
                                        گوشی موبایل شیائومی مدل Mi 10 5G M2001J2G تک سیم‌ کارت
                                        ظرفیت 256 گیگابایت
                                    </span>
                                    <div class="price">
                                        <div class="price-value">۲۳,۴۵۳,۰۰۰ تومان</div>
                                    </div>
                                    <a class="btn btn-info btn-add-to-cart btn-block" href="#" data-toast=""
                                       data-toast-type="success" data-toast-position="topRight"
                                       data-toast-icon="fe-icon-check-circle" data-toast-title="محصول"
                                       data-toast-message="با موفقیت به سبد خرید اضافه شد!">
                                        افزودن به سبد
                                        خرید
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="is-header ">
                        <div class="compare-list-value js-compare-product">
                            <div class="compare-add">
                                <a href="#" class="compare-placement" data-toggle="modal"
                                   data-target="#exampleModalCenter">
                                    <i class="mdi mdi-cart-plus"></i>
                                    برای افزودن کالا به لیست مقایسه کلیک کنید
                                </a>
                                <a href="#" class="btn btn-secondary btn-add-comparison" data-toggle="modal"
                                   data-target="#exampleModalCenter">
                                    افزودن کالا
                                    به مقایسه
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">جستجو</h5>
                                <form action="#" class="form-compare-search w-100" id="compare">
                                    <div class="form-compare-search-col form-compare-search-col-field">
                                        <label for="search" class="ui-input ui-input-search">
                                            <input class="ui-input-field js-product-title" id="search" type="text"
                                                   placeholder="کالای مورد نظر خود را جستجو کنید...">
                                        </label>
                                        <div class="selectric-wrapper selectric-ui-select selectric-js-ui-select selectric-js-brand-select selectric-form-compare-search-brands">
                                            <div class="selectric">
                                                <div class="selectric-filter">
                                                    <div class="form-ui">
                                                        <div class="custom-select-ui">
                                                            <select class="right">
                                                                <option>تمامی برندها</option>
                                                                <option>سامسونگ</option>
                                                                <option>اپل</option>
                                                                <option>شیائومی</option>
                                                                <option>هواوی</option>
                                                                <option>هانر</option>
                                                                <option>نوکیا</option>
                                                                <option>اچ تی سی</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body px-0">
                                <div class="remodal-content">
                                    <div class="form-compare-selector-row">
                                        <div class="form-compare-selector-col">
                                            <ul class="form-compare-selector-items js-compare-container">
                                                <li class="col-lg-4 col-md-4 col-xs-12 d-inline-block">
                                                    <label id="compare-img1"
                                                           class="form-compare-selector-item js-compare-selector">
                                                        <img src="/SiteSide/assets/images/product-slider-2/111460776.jpg"
                                                             class="img-fluid" alt="img-slider">
                                                        <span class="title js-compare-title">
                                                            گوشی موبایل سامسونگ
                                                            مدل Galaxy A50 SM-A505F/DS دو سیم کارت ظرفیت 64
                                                            گیگابایت
                                                        </span>
                                                    </label>
                                                </li>

                                                <li class="col-lg-4 col-md-4 col-xs-12 d-inline-block">
                                                    <label id="compare-img2"
                                                           class="form-compare-selector-item js-compare-selector">
                                                        <img src="/SiteSide/assets/images/product-slider-2/112145268.jpg"
                                                             class="img-fluid" alt="img-slider">
                                                        <span class="title js-compare-title">
                                                            گوشی موبایل سامسونگ
                                                            مدل Galaxy A70 SM-A705FN/DS دو سیم کارت ظرفیت 128
                                                            گیگابایت
                                                        </span>
                                                    </label>
                                                </li>

                                                <li class="col-lg-4 col-md-4 col-xs-12 d-inline-block">
                                                    <label id="compare-img3"
                                                           class="form-compare-selector-item js-compare-selector">
                                                        <img src="/SiteSide/assets/images/product-slider-2/111472656.jpg"
                                                             class="img-fluid" alt="img-slider">
                                                        <span class="title js-compare-title">
                                                            گوشی موبایل سامسونگ
                                                            مدل Samsung Galaxy S10 Plus SM دو سیم کارت ظرفیت 256
                                                            گیگابایت
                                                        </span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="compare-quick-title">مشخصات کلی</h4>
                <ul class="compare-quick-list">
                    <li>
                        <div class="compar-list-title">
                            ابعاد
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">160.8x78.1x7.4 میلی‌متر</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">8.9x75.6x165.1 میلی‌متر</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            توضیحات سیم کارت
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">سایز نانو (8.8 × 12.3 میلی‌متر)</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">سایز نانو (8.8 × 12.3 میلی‌متر)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            وزن
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">228 گرم</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">227 گرم</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            ساختار بدنه
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">
                                    فلز و شیشه (قاب جلو و پشت شیشه‌ای با فریمی از جنس فولاد ضدزنگ)
                                    دارای استاندارد IP68 برای مقاومت در برابر آب (به مدت 30 دقیقه در عمق 4 متر)
                                    صفحه نمایش با شیشه مقاوم در برابر خط و خش به همراه محافظ Gorilla Glass
                                    دارای پوشش Oleophobic برای صفحه‌نمایش
                                </span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">
                                    بدنه‌ای از جنس فلز و شیشه (محافظ گوریلا گلس Victus روی قاب جلو و
                                    پشت + فریم فلزی)
                                    فریم ساخته شده از آلومینیوم
                                    دارای گواهینامه IP68 مقاوم در برابر گرد و غبار و آب تا عمق 1.5 متر و به مدت 30
                                    دقیقه
                                    پشتیبانی از قلم الکترونیکی (Stylus)
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            ویژگی‌های خاص
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">
                                    مناسب عکاسی , مناسب عکاسی سلفی , مناسب بازی , مقاوم در برابر آب
                                    , دارای بدنه مقاوم , مجهز به حس‌گر تشخیص چهره
                                </span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">
                                    مجهز به حس‌گر اثرانگشت , فبلت , مناسب عکاسی , مناسب عکاسی سلفی ,
                                    مناسب بازی , مقاوم در برابر آب , دارای بدنه مقاوم
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            تعداد سیم کارت
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">دوسیم کارت</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">دوسیم کارت</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            زمان معرفی
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">13 اکتبر 2020</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">14 ژانویه 2021</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <h4 class="compare-quick-title">پردازنده</h4>
                <ul class="compare-quick-list">
                    <li>
                        <div class="compar-list-title">
                            تراشه
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">Apple A14 Bionic (5 nm) Chipset</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">Exynos 2100 (5 nm) Chipset</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            پردازنده‌ی مرکزی
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">Hexa-core CPU</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">
                                    Single-Core Cortex-X1 + Triple-Core Cortex-A78 + Quad-Core
                                    Cortex-A55
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="compar-list-title">
                            نوع پردازنده
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">64 بیت</span>
                            </div>
                        </div>
                        <div class="d-inline-block px-0">
                            <div class="compare-list-value">
                                <span class="block">64 بیت</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--single-product------------------------->
<script src="/SiteSide/assets/js/jquery-3.2.1.min.js"></script>
<script src="/SiteSide/assets/js/jquery.ez-plus.js"></script>
<script src="/SiteSide/assets/js/owl.carousel.min.js"></script>
<script src="/SiteSide/assets/js/popper.min.js"></script>
<script src="/SiteSide/assets/js/bootstrap.js"></script>
<script src="/SiteSide/assets/js/theia-sticky-sidebar.min.js"></script>
<script src="/SiteSide/assets/js/jquery.nice-select.min.js"></script>
<script src="/SiteSide/assets/js/main.js"></script>