    <!--search-category------------------------->
<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="sidebar-wrapper">
        <div class="box-sidebar">
            <div class="profile-box" style="border: none;">
                <img src="/SiteSide/assets/images/profile/1.jpg" class="profile-box-img-banner" alt="profile">
            </div>
        </div>

        <div class="box-sidebar">
            <div class="profile-box">
                <div class="profile-box-avator">
                    <img src="/SiteSide/assets/images/svg/user-profile.svg" alt="profile">
                </div>

                <div class="profile-box-content">
                    <span class="profile-box-nameuser">حسن شجاعی</span>
                    <span class="profile-box-phone">*******0991</span>
                </div>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">کیف پول</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">تومان</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <p class="profile-box-wallet-link">افزایش موجودی</p>
                </a>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">دیجی کلاب</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">امتیاز</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                </a>
            </div>
            <ul class="profile-menu-items">
                <li>
                    <a href="profile.html" class="profile-menu-url">
                        <span class="mdi mdi-account-outline"></span>پروفایل
                    </a>
                </li>
                <li>
                    <a href="profile-order.html" class="profile-menu-url">
                        <span class="mdi mdi-basket"></span>همه سفارش ها
                    </a>
                </li>
                <li>
                    <a href="profile-order-return.html" class="profile-menu-url">
                        <span class="mdi mdi-autorenew"></span>در خواست مرجوعی
                    </a>
                </li>
                <li>
                    <a href="profile-favorites.html" class="profile-menu-url">
                        <span class="mdi mdi-heart-outline"></span>لیست
                        علاقه مندی ها
                    </a>
                </li>
                <li>
                    <a href="profile-comments.html" class="profile-menu-url active-profile">
                        <span class="mdi mdi-comment-multiple-outline"></span>نقد و نظرات
                    </a>
                </li>
                <li>
                    <a href="profile-addresses.html" class="profile-menu-url">
                        <span class="mdi mdi-map-marker-outline"></span>آدرس
                        ها
                    </a>
                </li>
                <li><a href="#" class="profile-menu-url"><span class="mdi mdi-history"></span>بازدید های اخیر</a></li>
                <li>
                    <a href="profile-personal-info.html" class="profile-menu-url">
                        <span class="mdi mdi-account-circle"></span>اطلاعات شخصی
                    </a>
                </li>
                <li>
                    <a href="index.html" class="profile-menu-url">
                        <span class="mdi mdi-power"></span>خروج
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="headline-profile">
            <span>نقد و نظرات</span>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
            <div class="profile-stats">
                <div class="profile-recent-fav profile-comments-fav">
                    <div class="profile-comment">
                        <div class="profile-comment-thumb">
                            <div class="profile-comment-img">
                                <a href="#"><img src="/SiteSide/assets/images/product-slider-2/111460776.jpg" alt="profile"></a>
                            </div>
                            <div class="profile-comment-rating">
                                <p>امتیاز من به محصول</p>
                                <span class="star-item"><i class="fa fa-star active"></i></span>
                                <span class="star-item"><i class="fa fa-star active"></i></span>
                                <span class="star-item"><i class="fa fa-star active"></i></span>
                                <span class="star-item"><i class="fa fa-star active"></i></span>
                                <span class="star-item"><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="profile-comment-content">
                            <h4>
                                گوشی سامسونگ گلگسی A50
                                <span class="profile-comment-status-review">تایید شده</span>
                                <p>
                                    این گوشی سامسونگ بسیار زیبا می باشد و اینکه نسبت به قیمتش عالیه اگر خواستین بخرین
                                    حتما بخرین با تشکر
                                </p>
                            </h4>
                            <ul class="profile-comment-actions">
                                <li>
                                    <button class="btn-helpful">
                                        0
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn-helpful">
                                        0
                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="remove-address-btn">حذف</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--search-category------------------------->