    <!--search-category------------------------->
<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="sidebar-wrapper">
        <div class="box-sidebar">
            <div class="profile-box" style="border: none;">
                <img src="/SiteSide/assets/images/profile/1.jpg" class="profile-box-img-banner" alt="profile">
            </div>
        </div>

        <div class="box-sidebar">
            <div class="profile-box">
                <div class="profile-box-avator">
                    <img src="/SiteSide/assets/images/svg/user-profile.svg" alt="profile">
                </div>

                <div class="profile-box-content">
                    <span class="profile-box-nameuser">حسن شجاعی</span>
                    <span class="profile-box-phone">*******0991</span>
                </div>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">کیف پول</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">تومان</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <p class="profile-box-wallet-link">افزایش موجودی</p>
                </a>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">دیجی کلاب</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">امتیاز</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                </a>
            </div>
            <ul class="profile-menu-items">
                <li>
                    <a href="profile.html" class="profile-menu-url">
                        <span class="mdi mdi-account-outline"></span>پروفایل
                    </a>
                </li>
                <li>
                    <a href="profile-order.html" class="profile-menu-url">
                        <span class="mdi mdi-basket"></span>همه سفارش ها
                    </a>
                </li>
                <li>
                    <a href="profile-order-return.html" class="profile-menu-url">
                        <span class="mdi mdi-autorenew"></span>در خواست مرجوعی
                    </a>
                </li>
                <li>
                    <a href="profile-favorites.html" class="profile-menu-url">
                        <span class="mdi mdi-heart-outline"></span>لیست
                        علاقه مندی ها
                    </a>
                </li>
                <li>
                    <a href="profile-comments.html" class="profile-menu-url">
                        <span class="mdi mdi-comment-multiple-outline"></span>نقد و نظرات
                    </a>
                </li>
                <li>
                    <a href="profile-addresses.html" class="profile-menu-url active-profile">
                        <span class="mdi mdi-map-marker-outline"></span>آدرس
                        ها
                    </a>
                </li>
                <li><a href="#" class="profile-menu-url"><span class="mdi mdi-history"></span>بازدید های اخیر</a></li>
                <li>
                    <a href="profile-personal-info.html" class="profile-menu-url">
                        <span class="mdi mdi-account-circle"></span>اطلاعات شخصی
                    </a>
                </li>
                <li>
                    <a href="index.html" class="profile-menu-url">
                        <span class="mdi mdi-power"></span>خروج
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="profile-navbar">
            <div class="profile-navbar-back-alignment">
                <a href="#" class="profile-navbar-btn-back">بازگشت</a>
                <h4 class="edit-personal">
                    ویرایش اطلاعات شخصی

                </h4>
            </div>
        </div>
        <div class="profile-stats">
            <div class="form-legal-row">
                <div class="col-lg-6 col-xs-12 mx-auto">
                    <div class="form-legal-col">
                        <fieldset class="form-legal-fieldset">
                            <h4 class="form-legal-headline">حساب شخصی</h4>
                            <div class="form-legal-item">
                                <label for="name-first">نام</label>
                                <input type="text" id="name-first" class="input-name-first"
                                       placeholder="نام خود را وارد کنید">
                            </div>

                            <div class="form-legal-item">
                                <label for="name-last">نام خانوادگی</label>
                                <input type="text" id="name-last" class="input-name-last"
                                       placeholder="نام خانوادگی خود را وارد کنید">
                            </div>

                            <div class="form-legal-item">
                                <label>تاریخ تولد</label>
                                <select name="day" id="day">
                                    <option value="date-desc" selected="selected">روز</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                    <option value="">14</option>
                                    <option value="">15</option>
                                    <option value="">16</option>
                                    <option value="">17</option>
                                    <option value="">18</option>
                                    <option value="">19</option>
                                    <option value="">20</option>
                                    <option value="">21</option>
                                    <option value="">22</option>
                                    <option value="">23</option>
                                    <option value="">24</option>
                                    <option value="">25</option>
                                    <option value="">26</option>
                                    <option value="">27</option>
                                    <option value="">28</option>
                                    <option value="">29</option>
                                    <option value="">30</option>
                                </select>
                                <select name="month" id="month">
                                    <option value="date-desc" selected="selected">ماه</option>
                                    <option value="">فروردین</option>
                                    <option value="">اردیبهشت</option>
                                    <option value="">خرداد</option>
                                    <option value="">تیر</option>
                                    <option value="">مرداد</option>
                                    <option value="">شهریور</option>
                                    <option value="">مهر</option>
                                    <option value="">آبان</option>
                                    <option value="">آذر</option>
                                    <option value="">دی</option>
                                    <option value="">بهمن</option>
                                    <option value="">اسفند</option>
                                </select>
                                <select name="year" id="year">
                                    <option value="date-desc" selected="selected">سال</option>
                                    <option value="">1380</option>
                                    <option value="">1381</option>
                                    <option value="">1382</option>
                                    <option value="">1383</option>
                                    <option value="">1384</option>
                                    <option value="">1385</option>
                                    <option value="">1386</option>
                                    <option value="">1387</option>
                                    <option value="">1388</option>
                                    <option value="">1389</option>
                                    <option value="">1390</option>
                                    <option value="">1391</option>
                                    <option value="">1392</option>
                                    <option value="">1393</option>
                                    <option value="">1394</option>
                                    <option value="">1395</option>
                                    <option value="">1396</option>
                                    <option value="">1397</option>
                                    <option value="">1398</option>
                                </select>
                            </div>

                            <div class="form-legal-item">
                                <label for="code-national">کد ملی</label>
                                <input type="text" id="code-national" class="input-code-national"
                                       placeholder="کد ملی خود را وارد کنید">
                            </div>

                            <div class="form-legal-item has-diviter-item">
                                <div class="form-auth-row">
                                    <label class="ui-checkbox has-diviter">
                                        <input type="checkbox" value="1" name="login" checked="" id="remember1">
                                        <span class="ui-checkbox-check"></span>
                                    </label>
                                    <label for="remember1" class="remember-me has-diviter-remember-me">
                                        تبعه خارجی
                                        فاقد کد ملی هستم
                                    </label>
                                </div>
                            </div>

                            <div class="form-legal-item">
                                <label for="phone">شماره موبایل</label>
                                <input type="text" id="phone" class="input-code-national"
                                       placeholder="شماره موبایل خود را وارد کنید">
                            </div>

                            <div class="form-legal-item">
                                <label for="email">آدرس ایمیل</label>
                                <input type="text" id="email" class="input-code-national"
                                       placeholder="آدرس ایمیل خود را وارد کنید">
                            </div>

                            <div class="form-legal-item has-diviter-item">
                                <div class="form-auth-row">
                                    <label class="ui-checkbox has-diviter">
                                        <input type="checkbox" value="1" name="login" checked="" id="remember2">
                                        <span class="ui-checkbox-check"></span>
                                    </label>
                                    <label for="remember2" class="remember-me has-diviter-remember-me">
                                        اشتراک در
                                        خبرنامه دیجی‌استور
                                    </label>
                                </div>
                                <label for="number-card" class="number-card">شماره کارت</label>
                                <input type="text" id="number-card" class="input-number-card"
                                       placeholder="شماره کارت خود را وارد کنید">
                                <button class="check-btn">بررسی اطلاعات</button>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="form-legal-row-submit">
                <div class="parent-btn">
                    <button class="dk-btn dk-btn-info">
                        ثبت اطلاعات کاربری
                        <i class="fa fa-check sign-in"></i>
                    </button>
                </div>
                <a href="#" class="btn-default">انصراف</a>
            </div>

        </div>
    </div>
</div>
