<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="sidebar-wrapper">
        <div class="box-sidebar">
            <div class="profile-box" style="border: none;">
                <img src="/SiteSide/assets/images/profile/1.jpg" class="profile-box-img-banner" alt="profile">
            </div>
        </div>

        <div class="box-sidebar">
            <div class="profile-box">
                <div class="profile-box-avator">
                    <img src="/SiteSide/assets/images/svg/user-profile.svg" alt="profile">
                </div>

                <div class="profile-box-content">
                    <span class="profile-box-nameuser">حسن شجاعی</span>
                    <span class="profile-box-phone">*******0991</span>
                </div>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">کیف پول</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">تومان</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <p class="profile-box-wallet-link">افزایش موجودی</p>
                </a>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">دیجی کلاب</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">امتیاز</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                </a>
            </div>
            <ul class="profile-menu-items">
                <li><a href="profile.html" class="profile-menu-url"><span class="mdi mdi-account-outline"></span>پروفایل</a></li>
                <li><a href="profile-order.html" class="profile-menu-url active-profile"><span class="mdi mdi-basket"></span>همه سفارش ها</a></li>
                <li><a href="profile-order-return.html" class="profile-menu-url"><span class="mdi mdi-autorenew"></span>در خواست مرجوعی</a></li>
                <li>
                    <a href="profile-favorites.html" class="profile-menu-url">
                        <span class="mdi mdi-heart-outline"></span>لیست
                        علاقه مندی ها
                    </a>
                </li>
                <li><a href="profile-comments.html" class="profile-menu-url"><span class="mdi mdi-comment-multiple-outline"></span>نقد و نظرات</a></li>
                <li>
                    <a href="profile-addresses.html" class="profile-menu-url">
                        <span class="mdi mdi-map-marker-outline"></span>آدرس
                        ها
                    </a>
                </li>
                <li><a href="#" class="profile-menu-url"><span class="mdi mdi-history"></span>بازدید های اخیر</a></li>
                <li><a href="profile-personal-info.html" class="profile-menu-url"><span class="mdi mdi-account-circle"></span>اطلاعات شخصی</a></li>
                <li><a href="index.html" class="profile-menu-url"><span class="mdi mdi-power"></span>خروج</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-left">
    <div class="headline-profile page-profile-order">
        <span>همه سفارش ها</span>
    </div>
    <div class="profile-stats page-profile-order">
        <div class="table-orders">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">شماره سفارش</th>
                        <th scope="col">تاریخ ثبت سفارش</th>
                        <th scope="col">مبلغ قابل پرداخت</th>
                        <th scope="col">مبلغ کل</th>
                        <th scope="col">عملیات پرداخت</th>
                        <th scope="col">جزئیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="order-code">DKC-57262900</td>
                        <td>1 آذر 1398</td>
                        <td>0</td>
                        <td>43,000 تومان</td>
                        <td class="text-success">پرداخت موفق</td>
                        <td class="detail"><a href="profile-order-2.html"><i class="fa fa-angle-left"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--        responsive-profile-order------------------------->
    <div class="page-profile">
        <div class="page-navigation">
            <div class="page-navigation-title">سفارش‌های من</div>
            <a href="#" class="page-navigation-btn-back">بازگشت <i class="fa fa-angle-left"></i></a>
        </div>
        <div class="profile-orders">
            <div class="collapse">
                <div class="profile-orders-item">
                    <div class="profile-orders-header">
                        <a href="profile-order-2.html" class="profile-orders-header-details">
                            <div class="profile-orders-header-summary">
                                <div class="profile-orders-header-row">
                                    <span class="profile-orders-header-id">DKC-79356178</span>
                                    <span class="profile-orders-header-state">پرداخت شده</span>
                                </div>
                            </div>
                        </a>
                        <hr class="ui-separator">
                        <div class="profile-orders-header-data">
                            <div class="profile-info-row">
                                <div class="profile-info-label">تاریخ ثبت سفارش</div>
                                <div class="profile-info-value">۷ آذر ۱۳۹۸</div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-label">مبلغ قابل پرداخت</div>
                                <div class="profile-info-value">0</div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-label">مبلغ کل</div>
                                <div class="profile-info-value">430,000,0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        responsive-profile-order------------------------->
</div>
