<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="sidebar-wrapper">
        <div class="box-sidebar">
            <div class="profile-box" style="border: none;">
                <img src="/SiteSide/assets/images/profile/1.jpg" class="profile-box-img-banner" alt="profile">
            </div>
        </div>

        <div class="box-sidebar">
            <div class="profile-box">
                <div class="profile-box-avator">
                    <img src="/SiteSide/assets/images/svg/user-profile.svg" alt="profile">
                </div>

                <div class="profile-box-content">
                    <span class="profile-box-nameuser">حسن شجاعی</span>
                    <span class="profile-box-phone">*******0991</span>
                </div>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">کیف پول</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">تومان</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <p class="profile-box-wallet-link">افزایش موجودی</p>
                </a>

                <a href="#" class="profile-box-row-arrow">
                    <div class="profile-box-title">دیجی کلاب</div>
                    <div class="profile-box-price">
                        <div class="wallet-amount">0</div>
                        <div class="profile-box-currency">امتیاز</div>
                        <i class="fa fa-angle-left"></i>
                    </div>
                </a>
            </div>
            <ul class="profile-menu-items">
                <li><a href="profile.html" class="profile-menu-url"><span class="mdi mdi-account-outline"></span>پروفایل</a></li>
                <li>
                    <a href="profile-order.html" class="profile-menu-url">
                        <span class="mdi mdi-basket"></span>همه
                        سفارش ها
                    </a>
                </li>
                <li><a href="profile-order-return.html" class="profile-menu-url"><span class="mdi mdi-autorenew"></span>در خواست مرجوعی</a></li>
                <li>
                    <a href="profile-favorites.html" class="profile-menu-url">
                        <span class="mdi mdi-heart-outline"></span>لیست
                        علاقه مندی ها
                    </a>
                </li>
                <li><a href="profile-comments.html" class="profile-menu-url"><span class="mdi mdi-comment-multiple-outline"></span>نقد و نظرات</a></li>
                <li>
                    <a href="profile-addresses.html" class="profile-menu-url">
                        <span class="mdi mdi-map-marker-outline"></span>آدرس
                        ها
                    </a>
                </li>
                <li><a href="profile-user-history.html" class="profile-menu-url active-profile"><span class="mdi mdi-history"></span>بازدید های اخیر</a></li>
                <li><a href="profile-personal-info.html" class="profile-menu-url"><span class="mdi mdi-account-circle"></span>اطلاعات شخصی</a></li>
                <li><a href="index.html" class="profile-menu-url"><span class="mdi mdi-power"></span>خروج</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="headline-profile">
            <span>بازدیدهای اخیر</span>
        </div>
        <div class="profile-user-history">
            <ul>
                <li>
                    <div class="user-history-list-item">
                        <a href="#"><img src="/SiteSide/assets/images/product-slider-2/111474228.jpg" alt="profile"></a>
                    </div>

                    <div class="user-history-list-item-content">
                        <a href="#">گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...</a>
                        <div class="stars">
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                        </div>

                        <div class="user-history-list-item-content-container">
                            <div class="new-price">
                                <span class="new-price-value">۴۳,۳۹۰</span>
                                <span class="new-price-currency">تومان</span>
                            </div>
                        </div>

                        <div class="user-history-list-item-button-group">
                            <a href="#" class="history-same-product-modal" onclick="document.getElementById('modal').style.display='block'">کالاهای مشابه</a>
                            <a href="#" class="remove-item-profile-history"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="user-history-list-item">
                        <a href="#"><img src="/SiteSide/assets/images/product-slider-2/111474228.jpg" alt="profile"></a>
                    </div>

                    <div class="user-history-list-item-content">
                        <a href="#">گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...</a>
                        <div class="stars">
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                        </div>

                        <div class="user-history-list-item-content-container">
                            <div class="new-price">
                                <span class="new-price-value">۴۳,۳۹۰</span>
                                <span class="new-price-currency">تومان</span>
                            </div>
                        </div>

                        <div class="user-history-list-item-button-group">
                            <a href="#" class="history-same-product-modal" onclick="document.getElementById('modal').style.display='block'">کالاهای مشابه</a>
                            <a href="#" class="remove-item-profile-history"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="user-history-list-item">
                        <a href="#"><img src="/SiteSide/assets/images/product-slider-2/111474228.jpg" alt="profile"></a>
                    </div>

                    <div class="user-history-list-item-content">
                        <a href="#">گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...</a>
                        <div class="stars">
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                        </div>

                        <div class="user-history-list-item-content-container">
                            <div class="new-price">
                                <span class="new-price-value">۴۳,۳۹۰</span>
                                <span class="new-price-currency">تومان</span>
                            </div>
                        </div>

                        <div class="user-history-list-item-button-group">
                            <a href="#" class="history-same-product-modal" onclick="document.getElementById('modal').style.display='block'">کالاهای مشابه</a>
                            <a href="#" class="remove-item-profile-history"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="user-history-list-item">
                        <a href="#"><img src="/SiteSide/assets/images/product-slider-2/111474228.jpg" alt="profile"></a>
                    </div>

                    <div class="user-history-list-item-content">
                        <a href="#">گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...</a>
                        <div class="stars">
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                            <span class="star-item"><i class="fa fa-star active"></i></span>
                        </div>

                        <div class="user-history-list-item-content-container">
                            <div class="new-price">
                                <span class="new-price-value">۴۳,۳۹۰</span>
                                <span class="new-price-currency">تومان</span>
                            </div>
                        </div>

                        <div class="user-history-list-item-button-group">
                            <a href="#" class="history-same-product-modal" onclick="document.getElementById('modal').style.display='block'">کالاهای مشابه</a>
                            <a href="#" class="remove-item-profile-history"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pager pager-profile">
            <ul class="page-item">
                <li class="pagination-item"><a href="#" class="pager-item-active">1</a></li>
                <li class="pagination-item"><a href="#">2</a></li>
                <li class="pagination-item"><a href="#">3</a></li>
                <li class="pagination-item"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 pull-right">
    <div class="row">
        <div class="col-12">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">محصولات پیشنهادی برای شما</span>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2009px;">
                            <div class="owl-item active" style="width: 277px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111460776.jpg" class="img-fluid" alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 277px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111474228.jpg" class="img-fluid" alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 277px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/112145268.jpg" class="img-fluid" alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A70 SM-A705FN/DS دو...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 277px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111475300.jpg" class="img-fluid" alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A30 SM-A305F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 277px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/113542184.jpg" class="img-fluid" alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل اپل مدل iPhone 11 Pro Max A2218 دو سیم...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 277px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111469793.jpg" class="img-fluid" alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Galaxy A20 SM-A205F/DS دو ...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 277px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="/SiteSide/assets/images/product-slider-2/111472656.jpg" class="img-fluid" alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-right"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-left"></i></button></div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</div>