<header class="shopping-page">
    <div class="container">
        <div class="header-shopping-logo">
            <a href="#"><img src="/SiteSide/assets/images/logo.png" alt="logo"></a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <ul class="checkout-steps">
                <li class="is-completed is-completed-active">
                    <a href="shopping.html" class="checkout-steps-item-link active-link-shopping">
                        <span>اطلاعات ارسال</span>
                    </a>
                </li>
                <li class="is-completed is-completed-active">
                    <a href="shopping-payment.html" class="checkout-steps-item-link active-link-shopping">
                        <span>پرداخت</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="shopping-no-complate-buy.html" class="checkout-steps-item-link active-link-shopping">
                        <span>اتمام خرید و ارسال</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="main-shopping">
    <div class="col-12 text-center">
        <div class="complate-page-container">
            <div class="success-checkout">
                <div class="container">
                    <div class="icon-success warning">
                        <span class="fa fa-close"></span>
                    </div>
                    <div class="order-success">
                        سفارش
                        <a href="#" class="order-code">DKC-57262900</a>
                        در سیستم ثبت شد اما پرداخت ناموفق بود

                        <span class="text-warning">
                            برای جلوگیری از لغو سیستمی سفارش،تا 24 ساعت آینده پرداخت را انجام
                            دهید.
                        </span>

                        <span class="order-ready-post">
                            چنانچه طی این فرایند مبلغی از حساب شما کسر شده است،طی 72 ساعت
                            آینده به حساب شما باز خواهد گشت.
                        </span>
                    </div>
                </div>
            </div>

            <div class="checkout-order-info">
                <div class="order-info">
                    <div class="order-code">
                        کد سفارش :
                        <span>DKC-57262900</span>
                    </div>
                    <div class="checkout-process-order-info">
                        سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون
                        <a href="#" class="processing">در انتظار پرداخت</a>
                        است.جزئیات این سفارش را می توانید
                        با کلیک بر روی دکمه
                        <a href="#" class="link-border">پیگیری سفارش</a>
                        مشاهده نمایید.
                    </div>
                    <div class="parent-btn btn-following-order">
                        <button class="dk-btn dk-btn-info">
                            پیگیری سفارش
                            <i class="fa fa-shopping-bag sign-in"></i>
                        </button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">نام تحویل گیرنده: حسن شجاعی</th>
                                <th scope="col">شماره تماس :</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>تعداد مرسوله : 1</td>
                                <td>مبلغ کل :</td>
                            </tr>
                            <tr>
                                <td>وضعیت پرداخت : پرداخت آنلاین(موفق)</td>
                                <td>وضعیت سفارش : در حال انجام</td>
                            </tr>
                            <tr>
                                <td>آدرس : استان خراسان شمالی ، بجنورد</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>