
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <title>welcome</title>
    <!--    font-->
    <link rel="stylesheet" href="/SiteSide/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/SiteSide/assets/css/materialdesignicons.css">
    <link rel="stylesheet" href="/SiteSide/assets/css/materialdesignicons.css.map">
    <!--    font-->
    <link rel="stylesheet" href="/SiteSide/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/SiteSide/assets/css/style.css">
</head>

<body>
    <div id="main">
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <a href="index.html" class="logo-account"><img src="/SiteSide/assets/images/logo-login.png" alt="logo"></a>
                <span class="account-head-line">به دیجی استور خوش آمدید</span>
                <div class="content-account">
                    <div class="account-box-message">
                        <div class="user-account-welcome">
                            <span class="mdi mdi-account-outline user-welcome"></span>
                        </div>
                        <div class="made-account">
                            <h2>حساب کاربری شما در دیجی استور ساخته شد</h2>
                            <p>
                                اکنون می‌توانید به صفحه‌ای که در آن بودید بازگردید و یا با تکمیل اطلاعات حساب کاربری
                                خود به کلیه امکانات و
                                سرویس‌های دیجی استور و سرویس‌های وابسته به آن دسترسی داشته باشید
                            </p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="parent-btn">
                                <button class="dk-btn dk-btn-info">
                                    تکمیل حساب کاربری
                                    <i class="fa fa-user sign-in"></i>
                                </button>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="back-page-before">بازگشت به صفحه‌ای که در آن بودید</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/SiteSide/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/SiteSide/assets/js/bootstrap.js"></script>
</body>

</html>