@using OnlineShop.Domain.DTOs.SiteSide.Cart;
@model CartDTO;

<!--  cart------------------>
<div class="col-12">
    <div class="page-content">
        <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
            <div class="checkout-tab">
                <div class="checkout-tab-pill listing-active-cart">
                    سبد خرید
                    <span class="checkout-tab-counter">1</span>
                </div>
                <div class="checkout-tab-pill">لیست خرید بعدی</div>
            </div>

        </div>
    </div>
    <div class="cart-tab-main">
        <div class="col-lg-9 col-md-9 col-xs-12 pull-right">
            <div class="page-content-cart">
                <form action="#">
                    <div class="header-express">
                        <span class="checkout-header-title"><i class="fa fa-truck"></i>ارسال عادی</span>
                        <span class="header-extra-info">
                            (۱
                            کالا)
                        </span>
                        <span class="checkout-header-delivery-cost">هزینه ارسال:رایگان</span>
                    </div>

                    <div class="checkout-body">
                        <a href="#" class="remove-from-cart"><i class="mdi mdi-close"></i></a>
                        <a href="#" class="col-thumb">
                            <img src="/SiteSide/assets/images/product-slider-2/111460776.jpg"
                                 alt="img-slider">
                        </a>

                        <div class="checkout-col-desc">
                            <a href="#">
                                <h3>
                                    گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو سیم کارت ظرفیت 128گیگابایت
                                </h3>
                            </a>
                            <div class="checkout-variant-color">
                                <span class="checkout-variant-title">سفید</span>
                                <div class="checkout-variant-shape"></div>
                                <div class="checkout-guarantee">
                                    <i class="fa fa-check"></i>گارانتی ۱۸ ماهه
                                    انفورماتیک گستر
                                </div>
                                <div class="checkout-dealer"><i class="fa fa-check"></i>کالا پلاس</div>
                            </div>

                            <div class="quantity">
                                <input type="number" min="1" max="10" step="1" value="1">
                            </div>
                            <a href="#" class="add-to-sfl">
                                ذخیره در لیست خرید بعدی
                                <div class="cart-item-product-price">
                                    ۳,۴۲۰,۰۰۰
                                    <span>
                                        تومان
                                    </span>
                                </div>

                            </a>

                        </div>
                    </div>
                    <div class="checkout-body">
                        <a href="#" class="remove-from-cart"><i class="mdi mdi-close"></i></a>
                        <a href="#" class="col-thumb">
                            <img src="/SiteSide/assets/images/product-slider-2/111460776.jpg"
                                 alt="img-slider">
                        </a>

                        <div class="checkout-col-desc">
                            <a href="#">
                                <h3>
                                    گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو سیم کارت ظرفیت 128گیگابایت
                                </h3>
                            </a>
                            <div class="checkout-variant-color">
                                <span class="checkout-variant-title">سفید</span>
                                <div class="checkout-variant-shape"></div>
                                <div class="checkout-guarantee">
                                    <i class="fa fa-check"></i>گارانتی ۱۸ ماهه
                                    انفورماتیک گستر
                                </div>
                                <div class="checkout-dealer"><i class="fa fa-check"></i>کالا پلاس</div>
                            </div>

                            <div class="quantity">
                                <input type="number" min="1" max="10" step="1" value="1">
                            </div>
                            <a href="#" class="add-to-sfl">
                                ذخیره در لیست خرید بعدی
                                <div class="cart-item-product-price">
                                    ۳,۴۲۰,۰۰۰
                                    <span>
                                        تومان
                                    </span>
                                </div>

                            </a>

                        </div>
                    </div>
                </form>
            </div>

            <div class="checkout-to-shipping-sticky">
                <a href="#" class="selenium-next-step-shipping">ادامه فرآیند خرید</a>
                <div class="checkout-to-shipping-price-report">
                    <p>مبلغ قابل پرداخت</p>
                    <div class="cart-item-product-price">
                        ۳,۴۲۰,۰۰۰
                        <span>
                            تومان
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 pull-left">
            <div class="page-aside">
                <div class="checkout-summary">
                    <ul class="checkout-summary-summary">
                        <li>
                            <span>مبلغ کل (۱ کالا)</span>
                            <span>۳,۴۲۰,۰۰۰ تومان</span>
                        </li>
                        <li>
                            <span>جمع</span>
                            <span>۳,۴۲۰,۰۰۰ تومان</span>
                        </li>
                        <li>
                            <span style="color: #424750; font-size:14px;">هزینه ارسال</span>
                            <span></span>
                        </li>
                        <li>
                            <span><i class="fa fa-truck"></i>ارسال عادی</span>
                            <span>رایگان</span>
                        </li>
                        <li>
                            <span>مبلغ قابل پرداخت</span>
                            <span>۳,۴۲۰,۰۰۰ تومان</span>
                        </li>
                        <li class="checkout-digiclub-container">
                            <span class="checkout-digiclub-row">
                                <img src="/SiteSide/assets/images/digiclub.png" alt="digiclub">
                                <span class="checkout-digiclub-points">
                                    امتیاز دیجی‌کلاب
                                </span>
                            </span>
                            <span class="checkout-digiclub-row">
                                150
                                <span class="checkout-bill-currency">
                                    امتیاز
                                </span>
                            </span>

                        </li>
                    </ul>
                </div>
                <div class="checkout-summary-content">
                    <p>کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی را تکمیل کنید.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-tab-main" style="display:none;">
        <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
            <div class="page-content-cart">
                <div class="container">
                    <div class="checkout-empty">
                        <div class="checkout-empty-icon">
                            <span class="mdi mdi-cart-remove"></span>
                        </div>
                        <div class="checkout-empty-title">لیست خرید بعدی شما خالی است!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
            <div class="page-aside">
                <div class="checkout-summary">
                    <h1>لیست خرید بعدی چیست؟</h1>
                    <p>
                        شما می‌توانید محصولاتی که به سبد خرید
                        خود افزوده اید و موقتا قصد خرید آن‌ها را ندارید، در لیست خرید بعدی خود قرار داده و
                        هر زمان مایل بودید آن‌ها را مجدداً به سبد خرید اضافه کرده و خرید آن‌ها را تکمیل کنید.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  cart------------------>